body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f5efee !important;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #092234;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 80%;
  caret-color: white;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  caret-color: white;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: 353b48;
  color: #f5efee;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.search_image_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.col-md-offset-3.col-lg-6.col-lg-offset-3 {
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.center {
  margin-bottom: 10%;
  margin-top: 20%;
  width: 25%;
}

.text-center.digid_desc {
  margin-top: 10%;
}

/* input.search_image_icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f030";
  font-weight: 1000;
  font-size: 1.2em;
  margin-top: 5px;
  margin-left: 10px;
} */

input#image-input {
  display: none;
}

input#submit-botton {
  display: none;
}

.mb-3.search_bar_result {
  margin-top: 5px;
  background: white;
  border-radius: 30px;
  border: 1px solid #f5efee;
  outline: black;
}

mb-3.search_bar_result > label.search_image_icon {
  background: black;
}

form.search_bar_result label.search_image_icon i.fas.fa-camera::before {
  color: #092234;
}

form.search_bar_result label.search_icon i.fas.fa-search::before {
  color: #092234;
}

form.search_bar_result input.search_input {
  caret-color: #092234;
  color: #092234;
}

form.search_bar_result input.search_input:hover {
  caret-color: #092234;
  transition: width 0.4s linear;
  color: #092234;
}

.digid_desc p {
  color: #092234;
}

form.search_bar_result {
  margin-top: 10px;
}

.search-result .thumbnail {
  border-radius: 0 !important;
}
.search-result:first-child {
  margin-top: 0 !important;
}
.search-result {
  margin-top: 20px;
}
.search-result .col-md-2 {
  border-right: 1px dotted #ccc;
  min-height: 140px;
}
.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}
.search-result ul li {
  font: 400 normal 0.85em "Roboto", Arial, Verdana, sans-serif;
  line-height: 30px;
}
.search-result ul li i {
  padding-right: 5px;
}
.search-result .col-md-7 {
  position: relative;
}
.search-result h3 {
  font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.search-result h3 > a,
.search-result i {
  color: #248dc1 !important;
}
.search-result p {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}
.search-result span.plus {
  position: absolute;
  right: 0;
  top: 126px;
}
.search-result span.plus a {
  background-color: #4a4c4d;
  padding: 5px 5px 3px 5px;
}
.search-result span.plus a:hover {
  background-color: #414141;
}
.search-result span.plus a i {
  color: #fff !important;
}
.search-result span.border {
  display: block;
  width: 97%;
  margin: 0 15px;
  border-bottom: 1px dotted #ccc;
}

a.nounderline {
  text-decoration: none;
}

a.nounderline:hover {
  text-decoration: underline;
}
